* {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.4;
  font-family: 'Source Sans Pro', sans-serif;
}

.header {
  background: grey;
  padding: 20px;
  color: #ffffff;
  height: auto;
  height: 400px;
  z-index: 2;
  /*
  background-image: linear-gradient(to bottom, #000, #0008),
    url('/img/banniere-restaurant-fiasco.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%, cover;
  background-attachment: local, fixed;
  */
  background: linear-gradient(to bottom, #000, #0008),
    center top / cover url('/img/banniere-restaurant-fiasco.jpg') fixed;
}

.header img {
  width: 100%;
  height: auto;
}

.header-title {
  margin: 0;
  font-style: italic;
  text-transform: capitalize;
  text-align: center;
  z-index: 4;
}

.header-nav {
  margin: 20px 0;
  text-align: center;
  margin-top: 10px;
  z-index: 3;
}

.header-nav a {
  float: left;
  color: inherit;
  text-decoration: none;
  padding: 0 10px;
  width: 25%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.2);
}

.header-nav a:hover {
  text-decoration: underline;
  background-color: rgba(255, 255, 255, 0.4);
}

.main {
  position: relative;
  background-color: lightgrey;
  padding: 20px;
  /* text-indent: 100px; */
}

.main p {
  text-align: justify;
}

.footer {
  background: grey;
  padding: 10px 20px;
}

.button {
  color: #ffffff;
  background: #5834cf;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.4em 0.5em;
}

.align-left {
  float: left;
  margin-right: 15px;
}

.align-right {
  float: right;
  margin-left: 15px;
}

.align-clear {
  clear: both;
}

hr {
  clear: both;
}
