@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-Regular.eot");
  src: local("fonts/Montserrat Regular"), local("Montserrat-Regular"),
    url("fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/Montserrat-Regular.woff2") format("woff2"),
    url("fonts/Montserrat-Regular.woff") format("woff"),
    url("fonts/Montserrat-Regular.ttf") format("truetype");
  /* url('fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg'); */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Bold.eot");
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/Montserrat-Bold.woff2") format("woff2"),
    url("fonts/Montserrat-Bold.woff") format("woff"),
    url("fonts/Montserrat-Bold.ttf") format("truetype");
  /* url('fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg'); */
  font-weight: 700;
  font-style: normal;
}

/* @font-face {
  font-family: 'Cardo';
  src: url('Cardo-Regular.eot');
  src: local('Cardo'), local('Cardo-Regular'),
    url('fonts/Ca') format('opentype');
  font-weight: normal;
  font-style: normal;
} */
@font-face {
  font-family: "Cardo";
  src: url("fonts/Cardo-Bold.eot");
  src: local("Cardo Bold"), local("Cardo-Bold"),
    url("fonts/Cardo-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/Cardo-Bold.woff2") format("woff2"),
    url("fonts/Cardo-Bold.woff") format("woff"),
    url("fonts/Cardo-Bold.ttf") format("truetype");
  /* url('fonts/Cardo-Bold.svg#Cardo-Bold') format('svg'); */
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

/* @font-face {
    font-family: "Open Sans";
    src: url("/fonts/.woff2") format("woff2"),
           url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
   } */

html,
body {
  color: rgba(0, 0, 0, 0.87);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.6; /*1.875;*/
  margin: 0;
  font-weight: 400;
}

/* header */

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #fff;
  padding: 30px;
  z-index: 5;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.topbar nav {
  float: left;
}

.menu-item {
  color: #9f9f9f;
  text-decoration: none;
  font-weight: 500;
  margin: 0 53px;
  transition: color 0.3s;
}

.menu-item:hover,
.menu-item.active {
  color: #000000;
}

.social {
  float: right;
}

.social a {
  padding: 0 12px;
  opacity: 0.5;
  transform: opacity 0.3s;
}

.social a:hover {
  opacity: 1;
}

.banner {
  height: 427px;
  background: no-repeat center center / cover url("../img/header.jpg");
}

/** main */

.main {
  /* float: left; */
  width: calc(100% - 375px);
  background-color: #ffffff;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
  position: relative;
  z-index: 2;
}

/** sidebar */
.sidebar {
  position: relative;
  /* float: right; */
  width: 375px;
  background: #fbfbfb;
  padding: 40px;
  font-size: 17px;
  z-index: 1;
  height: 200px;
}

.sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 17px;
  line-height: 2.3;
}

.sidebar a {
  color: #9f9f9f;
  text-decoration: none;
}

.sidebar a:hover {
  text-decoration: underline;
}

.sidebar-title {
  font-size: 30px;
  color: #000;
  margin: 15px 0;
}

.sidebar-title:first-child {
  margin-top: 0;
}

.sidebar li {
  padding: 6px 0;
}

.sidebar li:first-child {
  padding-top: 0;
}

.sidebar li:last-child {
  padding-bottom: 0;
}

.sidebar hr {
  border: none;
  background: #c4c4c4;
  height: 1px;
  margin: 50px 0;
}

/** footer */

.footer {
  clear: both;
}
.body-wrapper {
  display: flex;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

/** article */
.article {
  position: relative;
  /* overflow: hidden; */
  margin: 50px 0;
  padding-left: 333px;
  min-height: 203px;
}

.article a {
  color: inherit;
  text-decoration: none;
}

.article a:hover {
  text-decoration: underline;
}

.article-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 308px;
  margin-right: 25px;
}

.article-img img {
  width: 100%;
  height: auto;
}
.article-date {
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 5px;
}

.article-title {
  font-size: 2.25rem;
  line-height: 1.1;
  font-family: "Cardo", serif;
}

.article-title::after {
  content: "";
  display: block;
  width: 100px;
  height: 4px;
  background: #000;
}

/** contact */
.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  flex: 1;
}

.contact-form .form-input {
  flex: 0;
}

p::first-letter {
  font-size: 2em;
  font-weight: bold;
}

/* blockquote */
blockquote {
  background: rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  padding-left: 2rem;
  position: relative;
  /* text-align: center; */
}

blockquote::before {
  content: "❝";
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 60px;
  line-height: 1.4rem;
}

blockquote::after {
  content: "❞";
  position: absolute;
  bottom: -20px;
  right: 5px;
  font-size: 60px;
  line-height: 1.4rem;
}

/* counter for sidebar li*/

/* .sidebar ul {
  counter-reset: sidebarlist;
}

.sidebar li::before {
  counter-increment: sidebarlist;
  content: counter(sidebarlist) ". ";
} */

/** with attribute */
.sidebar li a::after {
  content: attr(data-count);
  float: right;
  background: grey;
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  border-radius: 25%;
}

/** specificité des selecteurs */
.important {
  font-size: 1.2em;
  color: red;
}

/* transitions */
/* simple */
/*.article-img {
  transition: transform ease-in-out 0.5s;
}*/
/* animation */
.article-img {
  transition: 0.5s;
  /** slide up to final position */
  /*animation: slideDown 10s;*/
  /* slide from bottom screen to top of screen ; with animation-play-state: paused */
  /*animation: slideDown 1s infinite;*/
}

/** transformations */
.article-img:hover {
  transform: scale(1.1) rotate(10deg);
  /* animation-play-state: paused; /* pause on hover */
}

/** animation */
@keyframes slideDown {
  /* from -> to
  from {
    transform: translateY(200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }  
  */
  /* percentage */
  /* 0% {
    transform: translateY(200px);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-200px);
    opacity: 0;
  } */
  /* up up up from position */
  0% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
  100% {
    transform: scale(1.1) translateY(-200px);
    opacity: 0;
  }
}

/** media queries */

@media only screen and (max-width: 1100px) {
  .body-wrapper {
    display: block;
  }

  .main,
  .sidebar {
    width: 100%;
  }

  .main .container {
    overflow: hidden;
  }
}

@media only screen and (max-width: 740px) {
  .container {
    padding: 0 1.25rem; /* 0 20px*/
  }
  .article {
    padding-left: 0;
    width: 100%;
  }
  .article-img {
    position: static;
    margin-bottom: 1rem;
    width: 100%;
    display: block;
  }
}

@media only screen and (max-width: 865px) {
  .topbar {
    position: absolute;
  }
  .topbar nav,
  .social {
    float: none;
    text-align: center;
  }
  .topbar nav {
    margin-bottom: 15px;
  }
  .menu-item {
    display: inline-block;
    margin: 0 20px 15px 20px;
    white-space: nowrap;
  }
}
