/** variables **/
:root {
  --topbar-color: #2cc09c;
  --topbar-background: #212529;
}

/* base styles */
/*
background: #2CC09C;
*/
/* body {
  line-height: 1;
  margin: 0;
} */

/* screen readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

/** topbar **/

.topbar {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #fff;
  background: #212529;
  background: var(--topbar-background);
}

.topbar a {
  color: inherit;
  text-decoration: none;
}

.topbar ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.topbar li {
  padding: 0 8px;
}

.topbar li,
.topbar a {
  display: flex;
  height: 40px;
  align-items: center;
  transition: color 0.3s;
}

.topbar svg {
  height: 12px;
  width: 12px;
  margin-right: 8px;
}

/** lang **/
.topbar .topbar__lang {
  margin-left: auto;
}

.topbar__lang::after {
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 6px solid #fff;
  width: 0;
  height: 0;
  margin-left: 6px;
}

/** infos **/
.topbar__infos {
  background: var(--topbar-color);
}

.topbar__links svg {
  color: var(--topbar-color);
}

.topbar a:hover {
  color: var(--topbar-color);
}

/** container **/
.topbar__container {
  max-width: 1016px;
  margin-left: auto;
  margin-right: auto;
}

/* 
.infos {
  background-color: inherit;
}

.links {
  background: var(--topbar-background);
}

.infos,
.links {
  width: 100%;
  flex: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  padding: 20px 0;
}

.links li {
  list-style: none;
}
.links-signup {
  /* Inside Auto Layout * /
  flex: none;
  order: 1;
  align-self: center;
  margin: 8px 0px;
}

.links-login {
  /* Inside Auto Layout * /
  flex: none;
  order: 1;
  align-self: center;
  margin: 8px 0px;
}

.links-lang {
  /* Inside Auto Layout * /
  flex: none;
  order: 1;
  align-self: center;
  margin: 8px 0px;
}

@media only screen and (min-width: 1000px) {
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }

  .container-main {
    display: flex;
    justify-content: space-between;
  }
} */

@media only screen and (min-width: 720px) {
  .topbar {
    font-size: 14px;
    background: linear-gradient(
      to right,
      var(--topbar-color),
      var(--topbar-color) 50%,
      var(--topbar-background) 50.01%,
      var(--topbar-background)
    );
  }

  /** container **/
  .topbar__container {
    display: flex;
    justify-content: space-between;
    background-color: var(--topbar-background);
  }

  .topbar li,
  .topbar a {
    height: 55px;
  }

  .topbar svg {
    height: 16px;
    width: 16px;
  }

  .topbar__infos li:last-child {
    background: var(--topbar-background);
    padding-left: 0;
  }

  /** li **/
  .topbar__infos li:last-child::before {
    content: '';
    margin-right: 15px;
    display: inline-block;
    border-right: 30px solid transparent;
    border-bottom: 55px solid var(--topbar-color);
  }

  .topbar__infos li:last-child svg {
    background: var(--topbar-color);
  }
}
