.page {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.header {
  width: 100%;
  height: 60px;
  background-color: #eee;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.sidebar {
  flex: 2 0px;
  order: 1;
  background-color: #bdc5ff;
  border: 1px solid #000;
}

.sidebar-secondary {
  order: 3;
  flex-grow: 1;
}

.body {
  flex: 4 0px;
  order: 2;
  background-color: #ffcabc;
}

.footer {
  order: 4;
  width: 100%;
  height: 60px;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 700px) {
  .body {
    flex-basis: 100%;
  }
  .header {
    flex-direction: column;
    height: auto;
  }

  .sidebar {
    order: 3;
  }
}

.mozaic {
  display: flex;
  height: 500px;
  flex-flow: column wrap;
  align-items: flex-start;
}

.mozaic img {
  margin: 5px;
}
