.page {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.header {
  width: 100%;
  height: 60px;
  background-color: #eee;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.sidebar {
  order: 1;
  width: 20%;
  background-color: #bdc5ff;
}
.sidebar-secondary {
  order: 3;
}

.body {
  order: 2;
  width: 60%;
  background-color: #ffcabc;
}

.footer {
  order: 4;
  width: 100%;
  height: 60px;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 700px) {
  .body {
    width: 100%;
  }
  .header {
    flex-direction: column;
    height: auto;
  }

  .sidebar {
    order: 3;
    width: 50%;
  }
}

.mozaic {
  display: flex;
  height: 500px;
  flex-flow: column wrap;
  align-items: flex-start;
}

.mozaic img {
  margin: 5px;
}
