/* menu */
.header {
  height: 60px;
  background-color: #eee;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media (max-width: 500px) {
  .header {
    flex-direction: column;
    height: auto;
  }
}

/* mozaic with images different sizes */
.mozaic {
  /* width: 350px; */
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.mozaic img {
  margin: 5px 0;
}

/* mozaic with images same sizes */
.mozaic-same-size {
  display: flex;
  flex-flow: column wrap;
  height: 100vh;
  align-items: flex-start;
}

.mozaic-same-size img {
  margin: 5px;
}
