/* @font-face {
  font-family: "Roboto";
  src: url("Roboto-Bold.eot");
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("Roboto-Bold.eot?#iefix") format("embedded-opentype"),
    url("Roboto-Bold.woff2") format("woff2"),
    url("Roboto-Bold.woff") format("woff"),
    url("Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-Regular.eot");
  src: local("Roboto"), local("Roboto-Regular"),
    url("Roboto-Regular.eot?#iefix") format("embedded-opentype"),
    url("Roboto-Regular.woff2") format("woff2"),
    url("Roboto-Regular.woff") format("woff"),
    url("Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
} */

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* base styles */
body {
  background: #f1f1f1;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.3;
  color: rgba(0, 0, 0, 0.6);
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* screen readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

/* topbar */
.topbar {
  background: #2c3e50;
  color: #fff;
}

.topbar-logo {
  display: block;
  text-align: center;
  font-size: 24px;
  padding: 11px 0;
}

.topbar-nav {
  text-align: center;
  padding-bottom: 16px;
  line-height: 2;
}

.topbar-nav a {
  display: inline-block;
  margin: 0 12px;
  color: rgba(255, 255, 255, 0.67);
  transition: color 0.3s;
}

.topbar-nav a:hover,
.topbar-nav a.active {
  color: #fff;
}

/* container */
.container {
  max-width: 1080px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.site-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* main */
.main {
  margin-bottom: 20px;
}

/* profile aside card */
.profile {
  display: none;
}

/* sidebar left */
.sidebar {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.sidebar a {
  display: block;
  width: 50%;
  padding: 0.6em 0;
  transition: color 0.3s;
  border: 1px solid transparent;
  padding-left: 10px;
}

.sidebar a::before {
  content: '';
  display: inline-block;
  width: 11px;
  height: 9px;
  transform: translateY(-2px);
  /* margin-top: -2px; */
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 20px;
  opacity: 0.67;
  background: center center / contain url(images/home.svg) no-repeat;
  transition: opacity 0.3s;
}

.sidebar .sidebar-messages::before {
  background-image: url(images/messages.svg);
}

.sidebar .sidebar-events::before {
  background-image: url(images/calendar.svg);
}

.sidebar .sidebar-groups::before {
  background-image: url(images/groups.svg);
}

.sidebar a:hover,
.sidebar a.active {
  color: #000;
  text-decoration: underline;
  background: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  font-weight: bold;
}

.sidebar a:hover::before,
.sidebar a:active::before {
  opacity: 1;
}

/* card */
.card {
  background: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  margin-bottom: 15px;
}

.card:last-child {
  margin-bottom: 0;
}

.card-header {
  padding: 10px;
  position: relative;
}

.card-header-avatar {
  padding-left: 65px;
}

.card-avatar {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.card-title {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.87);
  font-size: 18px;
  margin: 0 0 5px 0;
}

.card-date {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.38);
}

.card-body {
  padding: 0 10px 20px 10px;
}

.card-body a {
  text-decoration: underline;
  color: #34aaff;
  color: #000;
}

.card-body p:first-child {
  margin-top: 0;
}

.card-body p:last-child {
  margin-bottom: 0;
}

.card-body .full-width {
  /* transform: matrix(-1, 0, 0, 1, 0, 0); */
  width: calc(100% + 20px);
  display: block;
  margin-left: -10px;
  margin-right: -10px;
}

.card-footer {
  background: #fbfbfb;
  border: 1px solid #dbdbdb;
  border-radius: 0px 0px 5px 5px;
  display: flex;
  padding: 10px;
  font-size: 12px;
  color: #bdbdbd;
}

.card-footer a:hover {
  text-decoration: underline;
}

.card-like::before,
.card-comments::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  width: 20px;
  height: 18px;
  background: url(images/thumb-up.svg) center center / 20px 18px no-repeat;
}

.card-comments::before {
  background-image: url(images/comment.svg);
}

.card-comments {
  margin-left: auto;
}

/* sidebar */
.sidebar-title {
  margin-top: 30px;
  margin-bottom: 18px;
  font-weight: bold;
  font-size: 15px;
  color: #000;
}

.sidebar-title::after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  margin-top: 4px;
  background: #000;
}

.friend {
  margin: 14px 0;
  display: flex;
}

.friend-avatar {
  width: 73px;
  height: 73px;
  flex: none;
  margin-right: 10px;
}

.friend-body {
  display: flex;
  flex-direction: column;
}

.friend-name {
  display: block;
  font-weight: bold;
  font-size: 15px;
  color: #000000;
  margin-bottom: 5px;
}

.friend-connections {
  color: rgba(0, 0, 0, 0.65);
  font-size: 12px;
}

.friend-add {
  font-size: 12px;
  color: #000000;
  margin-top: auto;
  margin-bottom: 3px;
}

.friend-add::before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 14px;
  transform: translateY(-1px);
  background: center center / 18px 14px url(images/user-add.svg) no-repeat;
  vertical-align: middle;
  margin-right: 5px;
}

.friend-add:hover {
  text-decoration: underline;
}

/* temp colors*/
/* .sidebar {
  background-color: lightgrey;
  height: 400px;
}
.main {
  background-color: burlywood;
  height: 400px;
}
.aside {
  background-color: goldenrod;
  height: 400px;
} */

/* responsive */
@media only screen and (min-width: 520px) {
  /* topbar */
  .topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0 25px;
  }

  .topbar-logo,
  .topbar-nav {
    padding: 0;
  }

  .topbar-nav a {
    padding: 0 20px;
  }
}

@media only screen and (min-width: 950px) {
  .site-container {
    display: flex;
  }

  /* sidebar */
  .sidebar {
    display: block;
    width: 180px;
    flex: none;
  }

  .sidebar a {
    width: 100%;
  }

  /* main */
  .main {
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
  }

  /* profile */
  .profile {
    display: block;
  }

  /* aside */
  .aside {
    width: 310px;
    flex: none;
  }
}
