@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Light.eot');
    src: local('Montserrat Light'), local('Montserrat-Light'),
        url('Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Light.woff2') format('woff2'),
        url('Montserrat-Light.woff') format('woff'),
        url('Montserrat-Light.ttf') format('truetype'),
        url('Montserrat-Light.svg#Montserrat-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cardo';
    src: url('Cardo-Bold.eot');
    src: local('Cardo Bold'), local('Cardo-Bold'),
        url('Cardo-Bold.eot?#iefix') format('embedded-opentype'),
        url('Cardo-Bold.woff2') format('woff2'),
        url('Cardo-Bold.woff') format('woff'),
        url('Cardo-Bold.ttf') format('truetype'),
        url('Cardo-Bold.svg#Cardo-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Medium.eot');
    src: local('Montserrat Medium'), local('Montserrat-Medium'),
        url('Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Medium.woff2') format('woff2'),
        url('Montserrat-Medium.woff') format('woff'),
        url('Montserrat-Medium.ttf') format('truetype'),
        url('Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cardo';
    src: url('Cardo-Regular.eot');
    src: local('Cardo'), local('Cardo-Regular'),
        url('Cardo-Regular.eot?#iefix') format('embedded-opentype'),
        url('Cardo-Regular.woff2') format('woff2'),
        url('Cardo-Regular.woff') format('woff'),
        url('Cardo-Regular.ttf') format('truetype'),
        url('Cardo-Regular.svg#Cardo-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

